.babyrecord-container {
  padding-top: 20%;
}

.babyrecord-container .react-datepicker-wrapper {
  padding: 10px
}

.giant-square {
  width: 100%;
  height: 220px;
  margin-top: 30px;
}

.medium-square {
  width: 100%;
  height: 160px;
  margin-top: 30px;
}

.stdform .row,
.stdform select {
  margin-bottom: 20px;
}

.giant-font div,
.giant-font a {
  font-size: 2em;
}

.giant-font .btn,
.giant-font select,
.giant-font input,
.giant-font option {
  font-size: 1em;
}

.status-success {
  color: green;
}

.table .summary {
  text-align: left;
}

.table .summary span {
  font-weight: bold;
}

.dashboard-table .btn-dashboard {
  --bs-btn-padding-y: 0em;
  --bs-btn-padding-x: 0.5em;
}