.giant-btn {
  width: 100%;
  height: 220px;
  margin-top: 30px;
}

.stdform {
  padding-top: 20%;
}

.stdform .row,
.stdform select {
  margin-bottom: 20px;
}

.giant-font input,
.giant-font div {
  font-size: 2em;
}

.giant-font .btn,
.giant-font select {
  font-size: 1em;
}